@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
    class="">
    <img src="images/LogoBijou.png" alt="LeoneBijou" class="logo"/>
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
