@using BlazorEcommerce.Client.Services.ArticleService
@inject IArticleService ArticleService
<div class="news-flash">
    <div class="news-content">
        <span>First Article</span>
        <span>Second Article</span>
    </div>
</div>

@code {
   
}
